course/migrations
course/__pycache__
users/__pycache__
users/migrations
media/__pycache__
media/migrations
stats/__pycache__
stats/migrations
notification/__pycache__
notification/migrations
quiz/__pycache__
quiz/migrations
NeLeNo/__pycache__
NeLeNo/migrations
db.sqlite3
db.sqlite3-journal
*.cpython
/*.cpython
*.pyc
/*.pyc